{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>

<body>
  <div class="chat-container">
    <div id="message-container" class="content-white"></div>

    <div class="submit-form">
      <input id="message-input" type="text" placeholder="Enter message" />
      <button
        id="submit-button"
        type="submit"
        class="btn btn-success"
        onclick="sendMessage()"
      >
        Submit
      </button>
    </div>
  </div>

  <script>
    var socket = new WebSocket("ws://127.0.0.1:8000/ws/my_socket/");
    socket.onopen = function (event) {
      console.log("Socket connection successful");
    };

    function getRoomNameFromURL() {
      var url = window.location.href;
      var parts = url.split("/");
      var roomName = parts[parts.length - 2];
      return roomName;
    }

    function sendMessage() {
      var messageInput = document.getElementById("message-input").value;
      var username = localStorage.getItem("username");
      var roomName = getRoomNameFromURL();
      var data = {
        message: messageInput,
        creator: username,
        room: roomName,
      };
      socket.send(JSON.stringify(data));
      document.getElementById("message-input").value = "";
    }

    function printMessage(message) {
      const messageContainer = document.getElementById("message-container");
      const messageElement = document.createElement("div");
      var username = localStorage.getItem("username");
      let data = JSON.parse(message);
      if (data.creator === username) {
        messageElement.classList.add("message-right");
        messageElement.innerHTML = `
            <div class="message-box">
              <h4>${data.content}</h4>
              <h4>${data.creator}</h4>
              <h4>${data.created_at}</h4>
            </div>
            `;
        messageContainer.appendChild(messageElement);
      } else {
        messageElement.classList.add("message-left");
        messageElement.innerHTML = `
            <div class="message-box">
              <h4>${data.content}</h4>
              <h4>${data.creator}</h4>
              <h4>${data.created_at}</h4>
            </div>
            `;
        messageContainer.appendChild(messageElement);
      }
    }

    socket.onmessage = function (event) {
      const message = event.data;
      printMessage(message);
    };
  </script>
</body>
