<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <title>Socket</title>
  </head>
  <body>
    <div class="container">
      <div class="col-md-6">
        <div class="form-group">
          <label for="room-input">Room</label>
          <input type="text" class="form-control" id="room-input" />
        </div>
        <div class="form-group">
          <label for="username-input">Username</label>
          <input type="text" class="form-control" id="username-input" />
        </div>
        <button class="btn btn-success" type="submit" onclick="sendData()">
          Submit
        </button>
      </div>
    </div>

    <script>
      var socket = new WebSocket("ws://127.0.0.1:8000/ws/my_socket/");
      socket.onopen = function () {
        console.log("WebSocket connection established.");
      };

      function sendData() {
        var roomInput = document.getElementById("room-input").value;
        var usernameInput = document.getElementById("username-input").value;
        var data = {
          room: roomInput,
          username: usernameInput,
        };
        localStorage.setItem("data", username);
        socket.send(JSON.stringify(data));
        console.log("Data sent:", data);
        window.location.href = "" + roomInput;
      }
    </script>
  </body>
</html>
